/* Global styles */

 *{
    margin: 0;
}
body {
    background-color: #605F73;
}

img {
    display: block;
    margin: 0 auto;
    width: 100%;
}

a {
    color: black;
}

a:hover {
    text-decoration: none;
}

#container {
    background-color: #D9D9D9;
    width: 65%;
    margin: 20px auto;
    border: 4px solid black;
    padding: 20px;
    border-radius: 20px;
}

header {
    text-align: center;
    padding: 40px;
    border-bottom: 2px solid black;
}

header h1 {
    font-size: 50px;
    color: #736048;
    text-shadow: 2px 2px 2px black;
}
section img { 
    border-radius: 10px;
    border: 2px solid black;
    width: 75%;
}

aside img { 
    border-radius: 10px;
    border: 2px solid black;
    width: 75%;
}
hr {
    border: 2px solid #736048 ;
}

#paragraph {
    background-color: #D9D9D9;
    width: 85%;
    margin: 20px auto;
    border: 4px solid black;
    padding: 20px;
    border-radius: 20px;
}

/*mobile styles*/

#container {
    padding: 10px;
    border: 4px solid #022859;
}

nav {
    text-align: center;
}
nav ul {
    padding: 0;
    list-style-type: none;
}

nav li {
    display: block;
}

nav li a {
    display: block;
    background-color: #D9C6BA;
    height: 40px;
    line-height: 40px;
    text-decoration: none;
    font-size: 25px;
    border-bottom: 4px solid #022859;
}
nav li a:hover {
    background-color: #605F73;
}

main {
    padding: 10px;
    margin: 10px;
}

.main_content {
    padding: 10px;
}

.col {
    margin: 10px;
}
.col img {
    border-radius: 10px;
    border: 2px solid black;
}

footer {
    padding: 40px;
    text-align: center;
    }
iframe {
    display: block;
    margin: 20px auto;
    width: 60%;
    height: 450px;
    
}

/*Tablet styles*/

@media (min-width: 768px) {
   nav {
    padding: 10px 0;
    border-bottom: 4px solid black;
   }
   
    nav li {
    display: inline;
   }
   nav li a {
    display: inline-block;
    width: 200px;
    height: 40px;
   }

   .col img {
    width:65%;
   }

  }

/*Desktop*/

@media(min-width:1024px){
#container {
    width: 65%;
    margin: 20px auto;
    background-color: #D9C6BA;
}
.gallery {
    display: flex;
}

.col {
    border:6px solid red;
    margin:10px;
    padding: 10px;
    border-radius: 10px;

}
.col img {
    width: 100%;
}
.col h3{
    text-align: center;
    color: #022859;
}

.multi_col {
    display: flex;
}
section,
aside {
    border: 4px solid #605F73;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}

.home_section {
    width: 50%;
}
.home_aside  {

    width: 50%
}
}